<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CS ON THE GO</title>
    <%- include(getViewPath("/core/views/common/common.ejs")) %>
</head>
<body>
    <%- include(getViewPath("/core/views/common/header.ejs")) %>
    <div class="section">
        <div class="container">
            <div class="info_lst_com_wrap">
                <form name="prfsrInfoForm" id="prfsrInfoForm" method="post" action="">
                    <input type="hidden" name="sysId" id="sysId" value="cs">
                    <input type="hidden" name="mi" value="6669">
                    <input type="hidden" name="profSn" id="profSn" value="">
                </form>
                
                <ul class="info_lst_com">
                
                
                    
                        <li id="508">
                            <div class="info_box">
                                <div class="img_box">
                                    <span class="img">
                                    <img src="/upload/cns/pi/img_e7b3b814-51ba-45b1-b4e4-0a9befc173a51623982328081.png" alt="남영호 이미지">
                                    
                                    </span>
                                </div>
                                <div class="txt_box_wrap">
                                    <div class="txt_box">
                                        <strong class="name">
                                            남영호(Nam Young Ho)
                                            <em>교수</em>
                                        </strong>
                                        <ul class="info_lst_ctt">
                                        
                                            <li>
                                                <i class="xi-call"></i><span>+82-55-772-1386</span>
                                            </li>
                                        
                                            
                                            
                                            <li>
                                                <i class="xi-mail-o"></i><span><a href="mailTo:yhnam@gnu.ac.kr" class="bu_mail" title="메일보내기">yhnam@gnu.ac.kr</a></span>
                                            </li>
                                            
                                        
                                        </ul>
                                    
                                    </div>
                                    <ul class="list_st1">
                                        
                                        <li>
                                            <strong>연구실</strong>
                                            <span>시스템연구실 / 30동 303호</span>
                                        </li>
                                        
                                        
                                        <li>
                                            <strong>전공명</strong>
                                            <span>운영체제, 병렬처리</span>
                                        </li>
                                        
                                        
                                    </ul>
                                </div>
                            </div>
                            <!-- 상세 -->
                            <div class="details" id="508Desc" style="display: none;"></div>
                            <!-- //상세 -->
                        </li>
                    
                        <li id="509">
                            <div class="info_box">
                                <div class="img_box">
                                    <span class="img">
                                    <img src="/upload/cns/pi/img_884fe479-52f7-485a-b3a0-525fc2fdb4b21623982398928.png" alt="서영건 이미지">
                                    
                                    </span>
                                </div>
                                <div class="txt_box_wrap">
                                    <div class="txt_box">
                                        <strong class="name">
                                            서영건(Seo Yeong Geon)
                                            <em>교수</em>
                                        </strong>
                                        <ul class="info_lst_ctt">
                                        
                                            <li>
                                                <i class="xi-call"></i><span>+82-55-772-1392</span>
                                            </li>
                                        
                                            
                                            
                                            <li>
                                                <i class="xi-mail-o"></i><span><a href="mailTo:young@gnu.ac.kr" class="bu_mail" title="메일보내기">young@gnu.ac.kr</a></span>
                                            </li>
                                            
                                        
                                        </ul>
                                    
                                    </div>
                                    <ul class="list_st1">
                                        
                                        <li>
                                            <strong>연구실</strong>
                                            <span>알고리즘연구실 / 30동 403호</span>
                                        </li>
                                        
                                        
                                        <li>
                                            <strong>전공명</strong>
                                            <span>네트워크 및 멀티미디어</span>
                                        </li>
                                        
                                        
                                    </ul>
                                </div>
                            </div>
                            <!-- 상세 -->
                            <div class="details" id="509Desc" style="display: none;"></div>
                            <!-- //상세 -->
                        </li>
                    
                        <li id="507">
                            <div class="info_box">
                                <div class="img_box">
                                    <span class="img">
                                    <img src="/upload/cs/pi/img_4f6070a9-50e0-42c0-9d1a-fdea8338b95e1623991990529.jpg" alt="김민기 이미지">
                                    
                                    </span>
                                </div>
                                <div class="txt_box_wrap">
                                    <div class="txt_box">
                                        <strong class="name">
                                            김민기(Kim Min Ki)
                                            <em>교수</em>
                                        </strong>
                                        <ul class="info_lst_ctt">
                                        
                                            <li>
                                                <i class="xi-call"></i><span>+82-55-772-1393</span>
                                            </li>
                                        
                                            
                                            
                                            <li>
                                                <i class="xi-mail-o"></i><span><a href="mailTo:mkkim@gnu.ac.kr" class="bu_mail" title="메일보내기">mkkim@gnu.ac.kr</a></span>
                                            </li>
                                            
                                        
                                        </ul>
                                    
                                    </div>
                                    <ul class="list_st1">
                                        
                                        <li>
                                            <strong>연구실</strong>
                                            <span>컴퓨터비전연구실 / 30동 411호</span>
                                        </li>
                                        
                                        
                                        <li>
                                            <strong>전공명</strong>
                                            <span>컴퓨터비전, 영상처리, 생체(신호)인식</span>
                                        </li>
                                        
                                        
                                    </ul>
                                </div>
                            </div>
                            <!-- 상세 -->
                            <div class="details" id="507Desc" style="display: none;"></div>
                            <!-- //상세 -->
                        </li>
                    
                        <li id="511">
                            <div class="info_box">
                                <div class="img_box">
                                    <span class="img">
                                    <img src="/upload/cs/pi/img_e075e2b6-99bf-4de0-8cb7-f364c0ab2d841627867827926.jpg" alt="이수원 이미지">
                                    
                                    </span>
                                </div>
                                <div class="txt_box_wrap">
                                    <div class="txt_box">
                                        <strong class="name">
                                            이수원(Suwon Lee)
                                            <em>부교수</em>
                                        </strong>
                                        <ul class="info_lst_ctt">
                                        
                                            <li>
                                                <i class="xi-call"></i><span>+82-55-772-1394</span>
                                            </li>
                                        
                                            
                                            
                                            <li>
                                                <i class="xi-mail-o"></i><span><a href="mailTo:leesuwon@gnu.ac.kr" class="bu_mail" title="메일보내기">leesuwon@gnu.ac.kr</a></span>
                                            </li>
                                            
                                        
                                        </ul>
                                    
                                    </div>
                                    <ul class="list_st1">
                                        
                                        <li>
                                            <strong>연구실</strong>
                                            <span>증강지능연구실 / 30동 414호</span>
                                        </li>
                                        
                                        
                                        <li>
                                            <strong>전공명</strong>
                                            <span>증강현실, HCI</span>
                                        </li>
                                        
                                        
                                        <li>
                                            <strong>홈페이지</strong>
                                            <span><a href="https://ailab.gnu.ac.kr" class="bu_link" target="_blank" title="새창으로 열립니다.">https://ailab.gnu.ac.kr</a></span>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <!-- 상세 -->
                            <div class="details" id="511Desc" style="display: none;"></div>
                            <!-- //상세 -->
                        </li>
                    
                        <li id="2546">
                            <div class="info_box">
                                <div class="img_box">
                                    <span class="img">
                                    <img src="/upload/cs/pi/img_1a4f3a91-d34d-4ffa-8adf-46f75025a97c1646271690841.jpg" alt="서현 이미지">
                                    
                                    </span>
                                </div>
                                <div class="txt_box_wrap">
                                    <div class="txt_box">
                                        <strong class="name">
                                            서현(Seo Hyeon)
                                            <em>조교수</em>
                                        </strong>
                                        <ul class="info_lst_ctt">
                                        
                                            <li>
                                                <i class="xi-call"></i><span>+82-55-772-1385</span>
                                            </li>
                                        
                                            
                                            
                                            <li>
                                                <i class="xi-mail-o"></i><span><a href="mailTo:hseo0612@gnu.ac.kr" class="bu_mail" title="메일보내기">hseo0612@gnu.ac.kr</a></span>
                                            </li>
                                            
                                        
                                        </ul>
                                    
                                    </div>
                                    <ul class="list_st1">
                                        
                                        <li>
                                            <strong>연구실</strong>
                                            <span>뇌과학연구실 / 30동 307호</span>
                                        </li>
                                        
                                        
                                        <li>
                                            <strong>전공명</strong>
                                            <span>뇌공학, 신경조절, 수학모델링, 시뮬레이션</span>
                                        </li>
                                        
                                        
                                        <li>
                                            <strong>홈페이지</strong>
                                            <span><a href="https://sites.google.com/view/gnu-brainlab/home" class="bu_link" target="_blank" title="새창으로 열립니다.">https://sites.google.com/view/gnu-brainlab/home</a></span>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <!-- 상세 -->
                            <div class="details" id="2546Desc" style="display: none;"></div>
                            <!-- //상세 -->
                        </li>
                    
                        <li id="2547">
                            <div class="info_box">
                                <div class="img_box">
                                    <span class="img">
                                    <img src="/upload/cs/pi/img_64c26410-2c76-4828-be25-bedd7237c6391646272019709.jpg" alt="최상민 이미지">
                                    
                                    </span>
                                </div>
                                <div class="txt_box_wrap">
                                    <div class="txt_box">
                                        <strong class="name">
                                            최상민(Choi Sang-Min)
                                            <em>조교수</em>
                                        </strong>
                                        <ul class="info_lst_ctt">
                                        
                                            <li>
                                                <i class="xi-call"></i><span>+82-55-772-1384</span>
                                            </li>
                                        
                                            
                                            
                                            <li>
                                                <i class="xi-mail-o"></i><span><a href="mailTo:jerassi@gnu.ac.kr" class="bu_mail" title="메일보내기">jerassi@gnu.ac.kr</a></span>
                                            </li>
                                            
                                        
                                        </ul>
                                    
                                    </div>
                                    <ul class="list_st1">
                                        
                                        <li>
                                            <strong>연구실</strong>
                                            <span>정보과학연구실 / 30동 302호</span>
                                        </li>
                                        
                                        
                                        <li>
                                            <strong>전공명</strong>
                                            <span>계산이론, 알고리즘, 정보과학</span>
                                        </li>
                                        
                                        
                                        <li>
                                            <strong>홈페이지</strong>
                                            <span><a href="https://infolab.gnu.ac.kr/" class="bu_link" target="_blank" title="새창으로 열립니다.">https://infolab.gnu.ac.kr/</a></span>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <!-- 상세 -->
                            <div class="details" id="2547Desc" style="display: none;"></div>
                            <!-- //상세 -->
                        </li>
                    
                        <li id="3243">
                            <div class="info_box">
                                <div class="img_box">
                                    <span class="img">
                                    <img src="/upload/cs/pi/img_97fc0eb0-3ad0-4686-90a5-2ae40ddb9f2f1663131685417.jpg" alt="김지윤 이미지">
                                    
                                    </span>
                                </div>
                                <div class="txt_box_wrap">
                                    <div class="txt_box">
                                        <strong class="name">
                                            김지윤(Jiyoon Kim)
                                            <em>조교수</em>
                                        </strong>
                                        <ul class="info_lst_ctt">
                                        
                                            <li>
                                                <i class="xi-call"></i><span>+82-55-772-1381</span>
                                            </li>
                                        
                                            
                                            
                                            <li>
                                                <i class="xi-mail-o"></i><span><a href="mailTo:jykim92@gnu.ac.kr" class="bu_mail" title="메일보내기">jykim92@gnu.ac.kr</a></span>
                                            </li>
                                            
                                        
                                        </ul>
                                    
                                    </div>
                                    <ul class="list_st1">
                                        
                                        <li>
                                            <strong>연구실</strong>
                                            <span>보안성분석 및 검증연구실 / 30동 402호</span>
                                        </li>
                                        
                                        
                                        <li>
                                            <strong>전공명</strong>
                                            <span>정보보안, 정형검증</span>
                                        </li>
                                        
                                        
                                    </ul>
                                </div>
                            </div>
                            <!-- 상세 -->
                            <div class="details" id="3243Desc" style="display: none;"></div>
                            <!-- //상세 -->
                        </li>
                    
                        <li id="4593">
                            <div class="info_box">
                                <div class="img_box">
                                    <span class="img">
                                    <img src="/upload/cs/pi/img_f424905f-96b8-4672-ba83-a82d365c5da21693532976696.jpg" alt="부석준 이미지">
                                    
                                    </span>
                                </div>
                                <div class="txt_box_wrap">
                                    <div class="txt_box">
                                        <strong class="name">
                                            부석준(Seok-Jun Buu)
                                            <em>조교수</em>
                                        </strong>
                                        <ul class="info_lst_ctt">
                                        
                                            <li>
                                                <i class="xi-call"></i><span>+82-55-772-1382</span>
                                            </li>
                                        
                                            
                                            
                                            <li>
                                                <i class="xi-mail-o"></i><span><a href="mailTo:sj.buu@gnu.ac.kr" class="bu_mail" title="메일보내기">sj.buu@gnu.ac.kr</a></span>
                                            </li>
                                            
                                        
                                        </ul>
                                    
                                    </div>
                                    <ul class="list_st1">
                                        
                                        <li>
                                            <strong>연구실</strong>
                                            <span>인공지능시스템 및 응용연구실 /  30동 417호</span>
                                        </li>
                                        
                                        
                                        <li>
                                            <strong>전공명</strong>
                                            <span>인공지능, 딥러닝</span>
                                        </li>
                                        
                                        
                                        <li>
                                            <strong>홈페이지</strong>
                                            <span><a href="https://aisalab.gnu.ac.kr/" class="bu_link" target="_blank" title="새창으로 열립니다.">https://aisalab.gnu.ac.kr/</a></span>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <!-- 상세 -->
                            <div class="details" id="4593Desc" style="display: none;"></div>
                            <!-- //상세 -->
                        </li>
                    
                        <li id="4594">
                            <div class="info_box">
                                <div class="img_box">
                                    <span class="img">
                                    <img src="/upload/cs/pi/img_2f4309d5-e6c1-457d-b0f3-aa1accb19d081693533068542.jpg" alt="김범수 이미지">
                                    
                                    </span>
                                </div>
                                <div class="txt_box_wrap">
                                    <div class="txt_box">
                                        <strong class="name">
                                            김범수(BEOMSU KIM)
                                            <em>조교수</em>
                                        </strong>
                                        <ul class="info_lst_ctt">
                                        
                                            <li>
                                                <i class="xi-call"></i><span>+82-55-772-1383</span>
                                            </li>
                                        
                                            
                                            
                                            <li>
                                                <i class="xi-mail-o"></i><span><a href="mailTo:bbk5391@gnu.ac.kr" class="bu_mail" title="메일보내기">bbk5391@gnu.ac.kr</a></span>
                                            </li>
                                            
                                        
                                        </ul>
                                    
                                    </div>
                                    <ul class="list_st1">
                                        
                                        <li>
                                            <strong>연구실</strong>
                                            <span>무선통신 및 네트워킹 연구실 /  30동 413호</span>
                                        </li>
                                        
                                        
                                        <li>
                                            <strong>전공명</strong>
                                            <span>무선통신, 5G/6G, IoT</span>
                                        </li>
                                        
                                        
                                        <li>
                                            <strong>홈페이지</strong>
                                            <span><a href="https://sites.google.com/view/wcnet" class="bu_link" target="_blank" title="새창으로 열립니다.">https://sites.google.com/view/wcnet</a></span>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <!-- 상세 -->
                            <div class="details" id="4594Desc" style="display: none;"></div>
                            <!-- //상세 -->
                        </li>
                    
                
                </ul>
            </div>
        </div>
    </div>
    <%- include(getViewPath("/core/views/common/footer.ejs")) %>
</body>
</html>