<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CS ON THE GO</title>
    <%- include(getViewPath("/core/views/common/common.ejs")) %>
</head>
<body>
    <%- include(getViewPath("/core/views/common/header.ejs")) %>
    <div class="section">
        <div class="container">

        </div>
    </div>
    <%- include(getViewPath("/core/views/common/footer.ejs")) %>
</body>
</html>