<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CS ON THE GO</title>
    <%- include(getViewPath("/core/views/common/common.ejs")) %>
</head>
<body>
    <%- include(getViewPath("/core/views/common/header.ejs")) %>
    <div class="container mt-3">
        <h3>공지사항</h3>

        <div class="notice_top_srch">
            <select name="searchType" class="search-type">
                <option value="subject">제목</option>
                <option value="content">내용</option>
                <option value="author">작성자</option>
            </select>

            <input type="text" name="searchValue" class="search-value" value="">
            <input type="button" class="btn01" value="검색"/>
        </div>

        <div class="notice_list">
            <table class="table02 lh-1_8 text-center">
                <colgroup>
                    <col style="width:12%;">
                    <col style="width:auto;">
                    <col style="width:15%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                </colgroup>
                <thead>
                    <tr>
                        <th>구분</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>등록일</th>
                        <th>조회</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-bold color-blue">학과소식</td>
                        <td class="text-left text-truncate">
                            <a href="https://cs.gnu.ac.kr/cs/na/ntt/selectNttInfo.do?mi=6694&bbsId=2351&nttSn=2210416">
                                2023년도 2학기 연구실 안전교육 미이수자 사유서 제출
                            </a>
                        </td>
                        <td>컴퓨터과학전공</td>
                        <td>2023.11.23</td>
                        <td>97</td>
                    </tr>
                    <tr>
                        <td class="text-bold color-blue">학과소식</td>
                        <td class="text-left text-truncate">
                            <a href="https://cs.gnu.ac.kr/cs/na/ntt/selectNttInfo.do?mi=6694&bbsId=2351&nttSn=2210366">
                                2024학년도 1학기 국가장학금 1차 신청 안내
                            </a>
                        </td>
                        <td>컴퓨터과학전공</td>
                        <td>2023.11.23</td>
                        <td>65</td>
                    </tr>
                    <tr>
                        <td class="text-bold color-red">채용정보</td>
                        <td class="text-left text-truncate">
                            <a href="https://cs.gnu.ac.kr/cs/na/ntt/selectNttInfo.do?mi=6696&bbsId=2353&nttSn=2210069">
                                [SK그룹-인크로스] 2024년 상반기 신입(인턴) 채용
                            </a>
                        </td>
                        <td>경상국립대학교</td>
                        <td>2023.11.21</td>
                        <td>102</td>
                    </tr>
                    <tr>
                        <td class="text-bold color-green">교내소식</td>
                        <td class="text-left text-truncate">
                            <a href="https://www.gnu.ac.kr/main/na/ntt/selectNttInfo.do?mi=1127&bbsId=1029&nttSn=2210081">
                                2023학년도 겨울계절학기 배재대학교 신기술혁신융합대학사업단-실감미디어 학점교류 수학 안내
                            </a>
                        </td>
                        <td>학사지원과</td>
                        <td>2023.11.21</td>
                        <td>129</td>
                    </tr>
                    <tr>
                        <td class="text-bold color-blue">학과소식</td>
                        <td class="text-left text-truncate">
                            <a href="https://cs.gnu.ac.kr/cs/na/ntt/selectNttInfo.do?mi=6694&bbsId=2351&nttSn=2210073">
                                2024학년도 1학기 학생설계전공 신청 안내
                            </a>
                        </td>
                        <td>컴퓨터과학전공</td>
                        <td>2023.11.21</td>
                        <td>111</td>
                    </tr>
                    <tr>
                        <td class="text-bold color-green">교내소식</td>
                        <td class="text-left text-truncate">
                            <a href="https://www.gnu.ac.kr/main/na/ntt/selectNttInfo.do?mi=1126&bbsId=1028&nttSn=2210180">
                                [안내] 예비군훈련 참가 학생(예비군)의 학업보장 안내
                            </a>
                        </td>
                        <td>예비군연대</td>
                        <td>2023.11.21</td>
                        <td>88</td>
                    </tr>
                    <tr>
                        <td class="text-bold color-blue">학과소식</td>
                        <td class="text-left text-truncate">
                            <a href="https://cs.gnu.ac.kr/cs/na/ntt/selectNttInfo.do?mi=6694&bbsId=2351&nttSn=2210032">
                                대학교육혁신본부 「제3기 USG 온라인 공개과정」 운영 안내
                            </a>
                        </td>
                        <td>컴퓨터과학전공</td>
                        <td>2023.11.20</td>
                        <td>88</td>
                    </tr>
                    <tr>
                        <td class="text-bold color-green">교내소식</td>
                        <td class="text-left text-truncate">
                            <a href="https://www.gnu.ac.kr/main/na/ntt/selectNttInfo.do?mi=1126&bbsId=1028&nttSn=2209927">
                                [안내] 2023학년도 경상국립대학교 학부생 핵심역량진단(3차) 실시 안내
                            </a>
                        </td>
                        <td>교육과정지원실</td>
                        <td>2023.11.20</td>
                        <td>232</td>
                    </tr>
                    <tr>
                        <td class="text-bold color-blue">학과소식</td>
                        <td class="text-left text-truncate">
                            <a href="https://cs.gnu.ac.kr/cs/na/ntt/selectNttInfo.do?mi=6694&bbsId=2351&nttSn=2210031">
                                [빅데이터 혁신융합대학 사업단] 2023 마이크로디그리 데이 홍보 협조 요청
                            </a>
                        </td>
                        <td>컴퓨터과학전공</td>
                        <td>2023.11.20</td>
                        <td>86</td>
                    </tr>
                    <tr>
                        <td class="text-bold color-blue">학과소식</td>
                        <td class="text-left text-truncate">
                            <a href="https://cs.gnu.ac.kr/cs/na/ntt/selectNttInfo.do?mi=6694&bbsId=2351&nttSn=2210030">
                                [국립대학육성사업] 제11회 자연과학대학 창의력 경진대회 발표순서 및 심사위원 안내
                            </a>
                        </td>
                        <td>컴퓨터과학전공</td>
                        <td>2023.11.20</td>
                        <td>111</td>
                    </tr>
                    <tr>
                        <td class="text-bold color-blue">학과소식</td>
                        <td class="text-left text-truncate">
                            <a href="https://cs.gnu.ac.kr/cs/na/ntt/selectNttInfo.do?mi=6694&bbsId=2351&nttSn=2210029">
                                캠퍼스 탄소중립 실천 '텀블러 자동살균세척기' 설치 알림
                            </a>
                        </td>
                        <td>컴퓨터과학전공</td>
                        <td>2023.11.20</td>
                        <td>107</td>
                    </tr>
                    <tr>
                        <td class="text-bold color-green">교내소식</td>
                        <td class="text-left text-truncate">
                            <a href="https://www.gnu.ac.kr/main/na/ntt/selectNttInfo.do?mi=1126&bbsId=1028&nttSn=2209887">
                                [모집홍보] USG공유대학 해외선진 학생연수(CES프로그램 및 실리콘밸리 기업가정신 탐방) 참가자 모집 안내
                            </a>
                        </td>
                        <td>대학교육혁신본부</td>
                        <td>2023.11.17</td>
                        <td>520</td>
                    </tr>
                    <tr>
                        <td class="text-bold color-blue">학과소식</td>
                        <td class="text-left text-truncate">
                            <a href="https://cs.gnu.ac.kr/cs/na/ntt/selectNttInfo.do?mi=6694&bbsId=2351&nttSn=2209745">
                                *jobday 전문가 초청특강 4차*
                            </a>
                        </td>
                        <td>컴퓨터과학전공</td>
                        <td>2023.11.17</td>
                        <td>112</td>
                    </tr>
                    <tr>
                        <td class="text-bold color-green">교내소식</td>
                        <td class="text-left text-truncate">
                            <a href="https://www.gnu.ac.kr/main/na/ntt/selectNttInfo.do?mi=1126&bbsId=1028&nttSn=2209650">
                                2023년 「제28기(동계) 대학생 재능봉사 캠프 사업」멘토 모집 안내
                            </a>
                        </td>
                        <td>학생과</td>
                        <td>2023.11.16</td>
                        <td>740</td>
                    </tr>
                    <tr>
                        <td class="text-bold color-blue">학과소식</td>
                        <td class="text-left text-truncate">
                            <a href="https://cs.gnu.ac.kr/cs/na/ntt/selectNttInfo.do?mi=6694&bbsId=2351&nttSn=2209641">
                                도서관 전자책 체험형 전시회 『E&E BOOK』 개최 알림
                            </a>
                        </td>
                        <td>컴퓨터과학전공</td>
                        <td>2023.11.16</td>
                        <td>61</td>
                    </tr>
                    <tr>
                        <td class="text-bold color-red">채용정보</td>
                        <td class="text-left text-truncate">
                            <a href="https://cs.gnu.ac.kr/cs/na/ntt/selectNttInfo.do?mi=6696&bbsId=2353&nttSn=2209334">
                                2024 카카오 채용 연계형 겨울 인턴십
                            </a>
                        </td>
                        <td>경상국립대학교</td>
                        <td>2023.11.15</td>
                        <td>130</td>
                    </tr>
                    <tr>
                        <td class="text-bold color-green">교내소식</td>
                        <td class="text-left text-truncate">
                            <a href="https://www.gnu.ac.kr/main/na/ntt/selectNttInfo.do?mi=1126&bbsId=1028&nttSn=2209511">
                                [모집홍보]2023 아산나눔재단 찾아가는 스타트업 커리어 토크 콘서트 개최 안내
                            </a>
                        </td>
                        <td>창업지원단</td>
                        <td>2023.11.15</td>
                        <td>216</td>
                    </tr>
                    <tr>
                        <td class="text-bold color-blue">학과소식</td>
                        <td class="text-left text-truncate">
                            <a href="https://cs.gnu.ac.kr/cs/na/ntt/selectNttInfo.do?mi=6694&bbsId=2351&nttSn=2209510">
                                2023 지스타 참관 관련 안내사항
                            </a>
                        </td>
                        <td>컴퓨터과학전공</td>
                        <td>2023.11.15</td>
                        <td>182</td>
                    </tr>
                    <tr>
                        <td class="text-bold color-red">채용정보</td>
                        <td class="text-left text-truncate">
                            <a href="https://cs.gnu.ac.kr/cs/na/ntt/selectNttInfo.do?mi=6696&bbsId=2353&nttSn=2209325">
                                스마트공동체사업단 「제2회 취업 성공사례 수기 공모전」 안내
                            </a>
                        </td>
                        <td>컴퓨터과학전공</td>
                        <td>2023.11.14</td>
                        <td>53</td>
                    </tr>
                    <tr>
                        <td class="text-bold color-red">채용정보</td>
                        <td class="text-left text-truncate">
                            <a href="https://cs.gnu.ac.kr/cs/na/ntt/selectNttInfo.do?mi=6696&bbsId=2353&nttSn=2209324">
                                USG공유대학 외국어 역량강화 콘텐츠(REAL CLASS) 4기 프로그램 안내
                            </a>
                        </td>
                        <td>컴퓨터과학전공</td>
                        <td>2023.11.14</td>
                        <td>55</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="pagination">
            <a href="#"><</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">7</a>
            <a href="#">8</a>
            <a href="#">9</a>
            <a href="#">10</a>
            <a href="#">></a>
        </div>
    </div>
    <%- include(getViewPath("/core/views/common/footer.ejs")) %>
</body>
</html>