
.header-area .main-nav .menu li a.active {
  color: #0088D7;
}

.header-area {
    position: relative;
    background-color: #fff;
    height: 100px;
    z-index: 100;
}

.header-area .main-nav .logo .logo-img {
    width: 25%;
}

.header-area .main-nav ul.menu {
    margin-top: 30px;
    margin-left: 20px;
    z-index: 999;
    display: inline-block;
}

.header-area .main-nav .menu li {
    padding-left: 15px;
    padding-right: 15px;
    height: 100px;
    line-height: 100px;
    display: inline-block;
}

.header-area .main-nav .menu li a {
    display: block;
    font-weight: 500;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    text-transform: capitalize;
    color: #1e1e1e;
    border: transparent;
    letter-spacing: .25px;
}

.header-area .main-nav .menu li:hover a {
    color: #0088D7;
}

.header-area .main-nav .menu li a.active {
    color: #0088D7;
}

.header-area .main-nav .user-info-area {
    float:right;
    display: inline-block;
    margin-top: 37px;
}

.header-area .main-nav .menu-trigger {
    cursor: pointer;
    position: absolute;
    top: 23px;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 99;
    right: 20px;
    display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    background-color: #1e1e1e;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    background-color: #1e1e1e;
    display: block;
    position: absolute;
    height: 2px;
    left: 0;
    width: 75%;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    content: "";
}

.header-area .main-nav .menu-trigger span {
    top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
    -moz-transform-origin: 33% 100%;
    -ms-transform-origin: 33% 100%;
    -webkit-transform-origin: 33% 100%;
    transform-origin: 33% 100%;
    top: -10px;
    z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
    -moz-transform-origin: 33% 0;
    -ms-transform-origin: 33% 0;
    -webkit-transform-origin: 33% 0;
    transform-origin: 33% 0;
    top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
    background-color: transparent;
    width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
    -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
    -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
    -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
    transform: translateY(6px) translateX(1px) rotate(45deg);
    background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger.active span:after {
    -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    transform: translateY(-6px) translateX(1px) rotate(-45deg);
    background-color: #1e1e1e;
}

.main-banner .item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    position: relative;
}

.main-banner .bg-image {
    height: 80vh;
    filter: brightness(0.7);
}

.main-banner .header-text {
    text-align: center;
}

.slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    color: #d9d9d9 !important;
}

.slick-arrow:before{
    font-size: 25px;
}

.slick-prev{
    left: 20px;
}

.slick-next{
    right: 20px;
}

.main-banner .item h2 {
    position: absolute;
    z-index: 5;
    top: calc(50% - 30px);
    font-size: 62px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    line-height: 72px;
    width: 100%;
    margin-bottom: 0px;
}

footer.footer-no-gap {
    margin-top: 0px;
}

footer {
    height: 20vh;
    margin-top: 150px;
    background-color: #F2F8FC;
    min-height: 100px;
}

footer .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

footer .copyright {
    padding-top: 10px;
}

footer .page-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

footer .page-info .logo-img {
    width: 40%;
}

footer h1 {
    font-size: 20px;
    margin-left: 10px;
}

footer .page-logo .logo-img {
    width: 100%;
}

.university-progress {
    display: flex;
    margin-top: 1rem;
}

.university-progress .title {
    word-break: break-word;
    color: #0088D7;
    font-weight: bold;
}

.university-progress .progress-bar {
    margin-top: -20px;
    margin-left: 20px;
    width: 80%;
    text-align: left;
    position: relative;
    display: inline-block;
}

.university-progress .progress-bar hr {
    border: 1px solid #DBDBDB;
    margin: 0;
    opacity: 1;
    position: absolute;
    top: 33px;
    left: 6px;
    width: 97%;
}

.university-progress .progress-bar .runner {
    --cs-on-the-go-runner-unit: 0.6rem;
    --cs-on-the-go-runner-percent: 0;
    width: 3%;
    transition: transform 1s ease;
    transform: translateX(calc(var(--cs-on-the-go-runner-unit) * var(--cs-on-the-go-runner-percent)));
}

.university-progress .progress-bar .marker-groups {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 5px;
}

.university-progress .progress-bar .group {
    position: relative;
}

.university-progress .progress-bar .marker {
    width: 8px;
    height: 8px;
    background-color: #0088D7;
    border-radius: 50%;
    position: absolute;
    left: 25%;
    z-index: 999;
}

.university-progress .percentage {
    margin-top: 10px;
    color: #A3A3A3;
}

.university-progress .state {
    margin-left: 10px;
    color: #A3A3A3;
    text-align: right;
}

.notice-data-area .card-body {
    display: flex;
}

.notice-data-area, .food-data-area {
    width: 50%;
}

.notice-data-area th {
    width: 20%;
}

.notice-data-area td:nth-child(2) {
    width: 75%;
}

.notice-data-area td:nth-child(3) {
    width: 5%;
}

.index-info-card {
    height: 220px;
}

.index-info-card .table01 td {
    height: 90px;
    padding: 10px;
}

.index-data-area {
    display: flex;
    justify-content: space-between;
}

.course-plan-info-area {
    display: flex;
    justify-content: space-between;
}

.course-search-area  {
    margin-top: 5rem;
}

.course-select-area  {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.course-select-area table {
    border: 0;
}

.course-select-area .data-area {
    width: 100%;
    border: 1px solid #D9D9D9;
    height: 15rem;
    overflow-y: scroll;
}

.course-select-area .data-area:nth-child(1)  {
    margin-right: 1rem;
}

.course-select-area .data-area:nth-child(2)  {
    margin-left: 1rem;
}

.lecture-timetable tr:nth-child(1) th:nth-child(1) {
    width: 5%;
}

.lecture-timetable tr:nth-child(1) th:nth-child(n+2) {
    width: 15%;
}

.lecture-timetable td {
    padding: 1.5rem;
}

.lecture-timetable td.lecture-clicked {
    border: 2px solid black;
}

.lecture-timetable tr.timetable-data th {
    height: 3rem;
}

.lecture-timetable td.timetable-lecture-data {
    position: relative;
}

.lecture-timetable td img.warn {
    content: url("/static/image/warn.png");
    width: 15%;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}

.modal.building-move-time-modal {
    top: calc(50% - 130px);
    left: calc(50% - 450px);
    width: 50%;
}

.modal.building-move-time-modal .modal-content {
    width: auto;
    margin: 1rem;
    padding: 1rem;
}

.modal.building-move-time-modal table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.modal.building-move-time-modal table th {
    vertical-align: top;
}
/*교수 페이지 css*/
.professor_pic{
    width: 10rem;
}

.professor_profile{
    margin: 2rem;
}

@media (max-width: 1400px) {
    .university-progress .progress-bar .runner {
        --cs-on-the-go-runner-unit: 0.5rem;
    }

    .university-progress .progress-bar hr {
        top: 29px;
    }
}

@media (max-width: 1200px) {
    .header-area .main-nav .menu li {
        padding-left: 5px;
        padding-right: 5px;
    }

    .university-progress .title {
        width: 40px;
    }

    .university-progress .progress-bar {
        width: 78%;
    }

    .university-progress .progress-bar hr {
        top: 27px !important;
    }

    .university-progress .progress-bar .runner {
        --cs-on-the-go-runner-unit: 0.4rem;
    }
}

@media (max-width: 1100px) {
    .header-area .main-nav .menu {
        margin-left: 0px !important;
        background-color: #fff;
    }

    .header-area .main-nav .menu li a {
        line-height: 50px;
        height: 50px;
        font-weight: 400;
        color: #1e1e1e;
        background-color: #fff;
        border-radius: 0px 0px 25px 25px;
    }

    .header-area .main-nav .menu li {
        border-top: 1px solid #ddd;
        background-color: #f1f0fe;
        height: 50px;
        border-radius: 0px 0px 25px 25px;
        display: none;
    }

    .header-area .main-nav .menu {
        height: auto;
        margin-top: 80px !important;
    }

    .header-area .main-nav .logo {
        position: absolute;
        left: calc(50% - 330px);
        top: calc(50% - 40px);
    }

    .header-area .main-nav .logo .logo-img {
        width: 45%;
    }

    .header-area .main-nav .border-button {
        position: absolute;
        top: 15px;
        right: 70px;
    }

    .header-area {
        padding: 0px 15px;
        height: 80px;
        box-shadow: none;
        text-align: center;
    }

    .header-area .container {
        padding: 0px;
    }

    .header-area .logo {
        margin-left: 0px;
    }

    .header-area .main-nav .logo h1 {
        line-height: 100px;
        font-size: 20px;
    }

    .header-area .menu-trigger {
        display: block !important;
    }

    .header-area .main-nav {
        overflow: hidden;
    }

    .header-area .main-nav .menu {
        float: none;
        width: 100%;
        display: none;
        margin-left: 0px;
    }

    .header-area .main-nav .user-info-area {
        display: none;
    }

    .header-area .main-nav .menu li:first-child {
        border-top: 1px solid #eee;
    }

    .header-area .main-nav .menu li {
        width: 100%;
        background: #fff;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media (max-width: 992px) {
    .sub-header {
        display: none;
    }

    .university-progress .progress-bar .runner {
        --cs-on-the-go-runner-unit: 0.28rem;
    }

    .header-area .main-nav .logo h1 {
        line-height: 100px;
        font-size: 20px;
    }

    .main-banner .item h2 {
        width: 100%;
    }

    .notice-data-area, .food-data-area {
        width: 100%;
    }

    .index-data-area {
        display: block;
        justify-content: space-between;
    }

    .food-data-area {
        margin-top: 3rem;
    }
}

@media (max-width: 767px) {
    .header-area .main-nav .logo {
        left: calc(50% - 330px);
        top: calc(50% - 40px);
    }

    .university-progress {
        display: flex;
        justify-content: space-around;
    }

    .university-progress:nth-child(1) {
        margin-top: 0;
    }

    .university-progress .progress-bar {
        display: none;
    }

    .university-progress .title {
        width: 4rem;
    }

    .course-select-area  {
        margin-top: 1rem;
        display: block;
    }

    .course-select-area .data-area {
        margin-top: 1.5rem;
    }

    .course-select-area .data-area:nth-child(1)  {
        margin-right: 0;
    }

    .course-select-area .data-area:nth-child(2)  {
        margin-left: 0;
    }
}

@media (max-width: 547px) {
    .header-area .main-nav .logo {
        left: calc(50% - 330px);
        top: calc(50% - 30px);
    }
}