<header class="header-area">
    <div class="container">
        <nav class="main-nav">
            <a href="/" class="logo">
                <img class="logo-img" src="/static/image/main-logo.png"/>
            </a>
            <ul class="menu">
                <li><a href="#">공지사항</a></li>
                <li><a href="/about-professor">교수진 소개</a></li>
                <li><a href="/course/planner">수강 플래너</a></li>
                <li><a href="#">도서관</a></li>
                <li><a href="#">학생증</a></li>
                <li><a href="#">식단표</a></li>
            </ul>
            <a class="menu-trigger">
                <span>Menu</span>
            </a>
            <span class="user-info-area">
                    <span class="fw-bold">김량래</span>님 환영합니다.
                    <a href="logout.html">로그아웃</a>
                </span>
        </nav>
    </div>
</header>